In [1]:
#caragay, John Russell A.
#CPE31S1

#Importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#Code for importing the dataset
#Note that I created the missing values list since the values with "?" is not
#counted as missing value.
missing_values = ["n/a", "na", "--","?"]
df_patient_data = pd.read_csv('patient_data.csv', na_values = missing_values)

In [3]:
#Displaying the dataset
df_patient_data

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1.0,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10.0,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2.0,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4.0,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1.0,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2.0,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1.0,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3.0,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4.0,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5.0,10.0,4.0,1,malignant,Dr. Wong

In [4]:
#Displaying the size of the dataset
print('Size of Dataset:',df_patient_data.size)

Size of Dataset: 8388

In [5]:
#Displaying the column names and their data types
df_patient_data.dtypes

patient_id                 int64
clump_thickness          float64
cell_size_uniformity     float64
cell_shape_uniformity      int64
marginal_adhesion          int64
single_ep_cell_size        int64
bare_nuclei              float64
bland_chromatin          float64
normal_nucleoli          float64
mitoses                    int64
class                     object
doctor_name               object
dtype: object

In [6]:
#Displaying the missing values of the columns in terms of True/False
df_patient_data.isna().any()

patient_id               False
clump_thickness           True
cell_size_uniformity      True
cell_shape_uniformity    False
marginal_adhesion        False
single_ep_cell_size      False
bare_nuclei               True
bland_chromatin           True
normal_nucleoli           True
mitoses                  False
class                    False
doctor_name              False
dtype: bool

In [7]:
#Displaying the total number of missing values per column
df_patient_data.isna().sum()

patient_id                0
clump_thickness           1
cell_size_uniformity      1
cell_shape_uniformity     0
marginal_adhesion         0
single_ep_cell_size       0
bare_nuclei              18
bland_chromatin           4
normal_nucleoli           1
mitoses                   0
class                     0
doctor_name               0
dtype: int64

In [8]:
#Filling missing values with 0
df_patient_data.fillna(value = 0,inplace = True)

In [9]:
#Checking if there are still missing values in each column
df_patient_data.isna().sum()

patient_id               0
clump_thickness          0
cell_size_uniformity     0
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              0
bland_chromatin          0
normal_nucleoli          0
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [10]:
#Code for importing the df1
#Note that I created the missing values list since the values with "?" is not
#counted as missing value.
missing_values = ["n/a", "na", "--","?"]
df1 = pd.read_csv('patient_data.csv', na_values = missing_values)

In [11]:
#Getting the mean of each column
df1.mean()

C:\Users\RUSSEL~1\AppData\Local\Temp/ipykernel_19684/360363816.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.mean()

patient_id               1.071704e+06
clump_thickness          4.416905e+00
cell_size_uniformity     3.137536e+00
cell_shape_uniformity    3.207439e+00
marginal_adhesion        2.793991e+00
single_ep_cell_size      3.216023e+00
bare_nuclei              3.538913e+00
bland_chromatin          3.447482e+00
normal_nucleoli          2.868195e+00
mitoses                  1.589413e+00
dtype: float64

In [14]:
#Filling the missing values with the column mean
df1.fillna(df1.mean(),inplace = True)

C:\Users\RUSSEL~1\AppData\Local\Temp/ipykernel_19684/3590431875.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.fillna(df1.mean(),inplace = True)

In [13]:
#Checking if there are still missing values in each column
df1.isna().any()

patient_id               False
clump_thickness          False
cell_size_uniformity     False
cell_shape_uniformity    False
marginal_adhesion        False
single_ep_cell_size      False
bare_nuclei              False
bland_chromatin          False
normal_nucleoli          False
mitoses                  False
class                    False
doctor_name              False
dtype: bool

In [15]:
pd. show_versions()

INSTALLED VERSIONS
------------------
commit           : 945c9ed766a61c7d2c0a7cbb251b6edebf9cb7d5
python           : 3.8.12.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22000
machine          : AMD64
processor        : Intel64 Family 6 Model 165 Stepping 2, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_Philippines.1252

pandas           : 1.3.4
numpy            : 1.21.2
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 21.2.2
setuptools       : 58.0.4
Cython           : 0.29.24
pytest           : 6.2.4
hypothesis       : None
sphinx           : 3.2.1
blosc            : None
feather          : None
xlsxwriter       : 3.0.2
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.29.0
pandas_datareader: None
bs4              : 4.10.0
bottleneck       : 1.3.2
fsspec           : 2021.10.1
fastparquet      : None
gcsfs            : None
matplotlib       : 3.5.0
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.1
sqlalchemy       : 1.4.27
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.51.2

#### vvv Testing Zone vvv

In [19]:
# Making a list of missing value types
missing_values = ["n/a", "na", "--","?"]
df = pd.read_csv("patient_data.csv", na_values = missing_values)

In [51]:
z = df['bare_nuclei'].isnull()
z

0      False
1      False
2      False
3      False
4      False
       ...
694    False
695    False
696    False
697    False
698    False
Name: bare_nuclei, Length: 699, dtype: bool

In [52]:
z.value_counts()

False    681
True      18
Name: bare_nuclei, dtype: int64

In [37]:
p=df_patient_data['bare_nuclei'].isna()

In [38]:
p.value_counts()

False    697
True       2
Name: bare_nuclei, dtype: int64

In [44]:
z.sum()

18

In [53]:
df_patient_data.isna().sum()

patient_id                0
clump_thickness           1
cell_size_uniformity      1
cell_shape_uniformity     0
marginal_adhesion         0
single_ep_cell_size       0
bare_nuclei              18
bland_chromatin           4
normal_nucleoli           1
mitoses                   0
class                     0
doctor_name               0
dtype: int64

In [59]:
#Code for importing the dataset
#Note that I created the missing values list since the values with "?" is not
#counted as missing value.
missing_values = ["n/a", "na", "--","?"]
df2 = pd.read_csv('patient_data.csv', na_values = missing_values)

In [62]:
df2.fillna(df2.mean(),inplace = True)

In [63]:
df2.isna().sum()

patient_id               0
clump_thickness          0
cell_size_uniformity     0
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              0
bland_chromatin          0
normal_nucleoli          0
mitoses                  0
class                    0
doctor_name              0
dtype: int64